<div style="height: 100%;" set-ng-animate="false">

	<carousel interval="5000" style="height:100%"> <slide
		active="active" ng-repeat="app in applications"
		style="margin-top:150px"> <br />
	<div>
		<img class="slideImage" ng-src="{{app.imageUrl}}"
			style="margin: auto; width: 15%;" />
		<br />
		<div class="text-center" style="color:white; margin: auto; width: 50%;" >
			<h4>{{app.name}}</h4>
			<p>{{app.text}}</p>
			<br />
			<a ng-href="{{app.url}}"> <img alt="Get it on Google Play"
				style="margin: auto; width: 200px;"
				src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
			</a>
		</div>
	</div>
	</slide> </carousel>
</div>