html,body {
	height: 100%;
}

body {
	background-color: #5a5a5a;
}

.navbar-wrapper {
	margin-top: 20px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.slideImage {
	line-height: 1.5em;
	color: #444444;
	background-color: #ddd;
	background-image: linear-gradient(#E5E5E5, #CFCFCF);
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}